/* NAVBAR */
.navbarContainer {
    font-family: 'Oswald', sans-serif;
}

/* CAROUSEL */
.carouselHome img {
    max-height: 43vw;
    object-fit: cover;
}

/* Estilos para el contenedor del carrusel */
.product-carousel {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

/* Estilos para cada tarjeta de producto */
.product-card {
    padding: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    min-height: 18vw;
    max-height: 20vw;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 14px;
    color: #888;
}



