/* NAVBAR */
.navbarContainer {
    font-family: 'Oswald', sans-serif;
}

/* CAROUSEL */
.carouselHome img {
    max-height: 43vw;
    object-fit: cover;
}

/* Estilos para el contenedor del carrusel */


/* Estilos para cada tarjeta de producto */
.product-card {
    margin: 2rem 1rem;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    /* Agregar transición a la propiedad transform */
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 14px;
    color: #888;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: -7px 4px 13px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: -7px 4px 13px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -7px 4px 13px 0px rgba(0, 0, 0, 0.48);

}

.tituloDestacados {
    color: #14213d;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}